.container {
    margin-top: 6%;
}

.btn.btn-lg {
    margin-top: 15px;
}

.invalid-feedback{
    display: inline;
}
form {
    padding: 15px;
}

.main {
    display: flex;
    align-items: center;
}
.main h1 {
    font-size: 50px;
}
#donate {
    font-size: 100px;
}
#necessities{
    font-size: 60px;
}

#close:hover{
    cursor: pointer;
}